.selected{
    background-color: #88f;
}

.poubelle {
    display: none;
}

#container {
    background:#87CEFA;
    margin: 0 auto;
    border: 4px solid black;
    border-radius:8px;
}

input{
    margin-top: 10px;
    margin-left:10px;
}

button{
    margin-left:10px;
    border-color:#FF0000;
    border-radius:5px;
    margin-bottom:10px;
}